@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Poppins:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;


}

html, body{
    height: 100%;
    background-color: rgba(20, 17, 24, 0.822);
}

header{
    height: 200px;
    margin: 0 auto;
    max-width: 1280px;
}

.clear{
    clear: both;
}

header .title h2{
    position: relative;
    top: 0;
    left: 0;
    float: left;
    font-weight: normal;
    font-size: 72px;
    padding: 25px 0 0 40px;
    color: whitesmoke;
}

.line{
    width: 100px;
    float: right;
    position: relative;
    top: 40%;
    right: 45%;
    border: 2px solid whitesmoke;
}

section.articles , section.products{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

.festival{
    display: flex;
    justify-content: center;
    width: 100%;
}

.circle{
    font-weight: bold;
    background-color: rgb(255, 0, 140);
    width: 100%;
    font-size: 30px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
    float: left;
    position: relative;
    top: 100px;
    left: 25px;

    box-shadow: 0px 0px 20px 1px;
}

.circle p{
    position: relative;
    top: -9%;
    left: 30%;
}

.img-fest{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    background-color: rgb(255, 0, 140);
}

.img-fest:nth-of-type(2){
    width: 180px;
    height: 300px;
}

.img-fest:nth-of-type(3){
    width: 250px;
    height: 300px;
}

.img-fest:nth-of-type(4){
    width: 320px;
    height: 300px;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-product{
    background-color: rgb(255, 0, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.img-product:nth-of-type(1){
    width: 50%;
    height: 300px;
}

.img-product:nth-of-type(2){
    width: 200px;
    height: 300px;
}

.img-product:nth-of-type(3){
    width: 180px;
    height: 300px;
}

.anuncios{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    max-height: 450px;
    background-color: aliceblue;

    
}

.container{
    display: flex;
}

.container .produto{
    display: inline-block;
    width: 50%;
    background-color: black;
    height: 300px;
}

.notice{

    width: 100%;
    padding-top: 100vh;
    background-color: green;
    max-width: 180px;
}

@media screen and (max-width: 768px) {
    
    .festival{
        max-width: 1280px;
        display: block;
    }

    .circle{
        display: none;
    }

    .img-fest{
        padding-top: 15%;
        margin: 10px auto;
        width: 100%;
    }

    .img-fest:nth-of-type(2){
        width: 80%;
    }
    
    .img-fest:nth-of-type(3){
        width: 80%;
        
    }
    
    .img-fest:nth-of-type(4){
        width: 80%;
    }


    .center{
        max-width: 1280px;
        display: block;
    }

    .img-product{
        margin: 10px auto;
    }

    .img-product:nth-of-type(1){
        width: 80%;
    }

    .img-product:nth-of-type(2){
        width: 80%;
    }

    .img-product:nth-of-type(3){
        width: 80%;
    }
}